

.App {
  text-align: left;
  min-height: 200vh;
  background-image: linear-gradient(to bottom right, rgb(11, 174, 45), rgb(229, 236, 233));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
   
  }
}

.App-header {
  background-color: rgb(11, 174, 45);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mainBox {
  background-color: rgb(11, 174, 45);
  
  display: flex;
  flex-direction: column;
}

.vertNav  {
  background-color: rgb(46, 163, 0);
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6vw;;
  padding: 5px;
}

.horzNav {
  background-color: rgb(46, 163, 0);
  display: flex;
  height: 85px;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: .5vw;
  margin-bottom: -1.5vw;
  padding: 5px;
}

.articleBox {
  background-color: rgb(46, 163, 0);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navIcon {
  margin-top: 10px;
  padding: 5px;
}